/* ================================
   Stylesheet für die Website

   Struktur:
   1. Allgemeine Einstellungen
   2. Layout & Struktur
   3. Navigation
   4. Startseite
   5. Kontaktseite
   6. Bildergalerie
   7. Media Queries
   8. Media Print
   9. Media Dark
================================ */



/* ================================
   1. Allgemeine Einstellungen
================================ */

/* Farbdefinitionen über CSS-Variablen */
html {
  --color-base-dark: black;
  --color-base-light: white;
  --color-background-light: floralwhite;
  --color-primary: teal;
  --color-accent-active: sandybrown;
  --color-urheber: rgb(20, 20, 20);
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-box-shadow: rgba(51, 51, 51, 0.3);
  --color-box-shadow-smaler: rgb(51, 51, 51, 0.29);
  --color-border: dimgrey;
  --color-box-shadow-dark: rgb(151, 151, 151, 0.3);
  --color-box-shadow-dark-smaler: rgb(151, 151, 151, 0.29);
  --color-background-dark: #262626;
  --color-background-dark-nav_header_footer: #222;
  --color-accent-active-dark: rgb(192, 130, 77);

  scroll-behavior: smooth;
  background-color: transparent;
  height: 100vh;
}

/* Zentrierung von Logo + Titel als Flexbox */
.titel>a {
  display: flex;
  align-items: center;
  
}
/* Basiseinstellungen für Body */
body {
  display: flex;
  flex-direction: column;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  text-shadow: 2px 4px 4px var(--color-shadow);
  background-color: var(--color-base-light);
  color: var(--color-base-dark);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Responsive Bilder */
img {
  height: auto;
  max-width: 100%;
}

/* Einheitliche Symbolgröße */
.icon {
  width: 1.5rem;
  max-width: none;
}

u {
  text-decoration: none;
  color: var(--color-urheber);
  font-size: smaller;
}

a {
  color: var(--color-base-dark);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--color-accent-active);
}



/* ================================
   2. Layout & Struktur
================================ */

/* Innenabstände für Inhaltsblöcke */
.inside {
  padding: 0 1rem;
  margin: 0 auto;
}

/* Padding für Hauptbereich */
main {
  padding: 1rem;
  flex: 1
}

/* Überschriftenabstände */
h1 {
  padding-top: 1.5rem;
  margin-bottom: 0;
}

.inside h1 {
  text-align: center;
}

h2 {
  padding-top: 2.5rem;
}

/* Header-Stil mit Flexbox-Ausrichtung */
.site-header {
  display: flex;
  flex-direction: row;
  background-color: var(--color-primary);
  color: var(--color-base-light);
  padding: 2rem 3.5rem;
  text-decoration: none;
}

.site-header titel {
  text-decoration: none;
  align-items: center;
}

.titel {
  color: var(--color-base-light);
  margin: 0 0 0 0;
  padding: 0 1rem 0 0;
  display: inline-block;
  background: url("../pictures/LogoWeißTransparent.svg") right;
  background-repeat: no-repeat;
  background-size: 3.125rem;
  line-height: 3.125rem;
  width: 14rem;

}
.site-header .titel h1 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 1rem;
}

.site-header a {
  text-decoration: none;
}

/* Abstand oben für Links am Ende einer Seite */
.verlinkung p {
  padding-top: 1rem;
}

/* Listen ohne Aufzählungspunkt */
.ul-ohnePunkt {
  list-style: none;
  padding-left: 0rem;
}

.angebot {
  margin-top: 2rem;
}

/* Kollision von vertikalen Außenabständen verhindern */
h1,
h2,
p,
ul,
ol {
  margin-top: 0;
}



/* ================================
   3. Navigation
================================ */

/* Navigation & Footer: Farben + Layout */
.site-nav,
.site-footer {
  background-color: var(--color-primary);
  color: var(--color-base-light);
  padding: 1rem;
  box-shadow: 0 2px 6px var(--color-box-shadow);
}

/* Linke Ausrichtung Navigation */
.site-nav {
  text-align: start;
}

/* Footer mittig */
.site-footer {
  text-align: center;
}

/* Navigation als Flexliste */
.site-footer ul,
.site-nav ul {
  display: flex;
  flex-flow: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Links in Navigation und Footer */
.site-nav a,
.site-footer a,
.site-nav form {
  display: block;
  color: var(--color-base-light);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

/* Hover-Farbe */
.site-nav a:hover,
.site-nav a:focus,
.site-footer a:hover,
.site-footer a:focus {
  color: var(--color-accent-active);
}

/* Aktiver Link fett und größer */
.site-nav .current,
.site-footer .current {
  font-weight: bold;
  font-size: x-large;
}

/* Menübutton ohne JavaScript ausblenden */
.no-js .menubutton {
  display: none;
}

/* Menübutton Styling */
.js .menubutton {
  display: flex;
  align-items: center;

  cursor: pointer;
  background: inherit;
  color: var(--color-base-light);
  font: inherit;
  text-align: center;
  padding: 0.5rem 1rem;
  border: 0;
  margin: 0;
}

/* Burger-Menü Symbol */
.js .menubutton::before {

  content: url("../pictures/menuburger.svg");
  width: 2rem;
  height: 2rem;
  margin: 0.25rem;
}

/* Navigation bei schmalem Viewport verstecken */
.js .site-nav ul {
  max-height: 0;
  overflow: hidden;
}

/* Navigation aufklappen */
.js .showmenu+ul {
  max-height: 100rem;
  transition: max-height 0.5s ease-in-out;
  overflow: auto;
}

/* Menü-Symbol bei Klick tauschen */
.js .menubutton.showmenu::before {
  content: url("../pictures/menuclose.svg");
}

/* Zurück-nach-oben Button */
.scroll-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 6px var(--color-box-shadow), 0 1px 10px var(--color-box-shadow-smaler);
  z-index: 1000;
}

/* Hover-Farbe Scrollbutton */
.scroll-top-button:hover {
  background-color: var(--color-accent-active);
}

/* Sprachumschalter Styling */
.site-nav select {
  padding: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-base-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 6px var(--color-box-shadow), 0 1px 10px var(--color-box-shadow-smaler);
  font-size: 1rem;
}

/* Sprachsymbol */
.language-icon {
  width: 2.0rem;
  height: auto;
  padding-right: 1rem;
}

/* Container für Sprachumschalter + Icon */
.language-select-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Element für Screenreader-only Inhalte */
.sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

/* Begrenzung für Darkmode-Switcher */
.nav-darkmode {
  max-width: 4rem;
  flex: 0 0 auto;
  justify-content: left;
}



/* ================================
   4. Startseite
================================ */


/* Hero-Image zentrieren */
.startbild {
  display: flex;
  justify-content: center;
  margin: 2rem 0 2rem 0;
}

/* Artikelstruktur */
.article {
  display: flex;
  flex-direction: column;
}

/* Text immer vor Bild */
.text-content {
  order: 1;
}



/* ================================
   5. Kontaktseite
================================ */

/* Formular-Label */
.site-kontakt label {
  display: block;
}

/* Abstand zwischen Eingabefeldern */
.site-kontakt form div {
  margin-bottom: 1rem;
}

/* Eingabefelder Styling */
.site-kontakt input[type="text"],
.site-kontakt input[type="email"],
.site-kontakt input[type="betreff"],
.site-kontakt textarea {
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-base-light);
  border-radius: 0.25rem;
}

/* Textarea spezifisch begrenzen */
.site-kontakt textarea {
  min-height: 8rem;
}

/* Formularbutton */
.site-kontakt button {
  font-size: inherit;
  font-family: inherit;
  background-color: var(--color-primary);
  color: var(--color-base-light);
  width: 17rem;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Button Hover */
.site-kontakt button:hover,
.site-kontakt button:focus {
  background-color: var(--color-accent-active);
}

/* Kontaktinfos */
.kontakt {
  display: flex;
  align-items: center;
}

.kontakt img {
  margin-right: 1rem;
  margin-top: 1.5rem;
}

.kontakt::before {
  margin-top: 2rem;
}

.kontakt-telefon {
  background: url("../pictures/Telefon-schwarz.svg") left;
}

.kontakt-mail {
  background: url("../pictures/Mail-schwarz.svg") left;
}

.kontakt-haus {
  background: url("../pictures/Haus-schwarz.svg") left;
}

.kontakt-telefon, 
.kontakt-mail,
.kontakt-haus {
  margin: 2rem 0 0 0 ;
  padding: 0 1.25rem 0 3.75rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 3.125rem;
  line-height: 3.125rem;
  width: 31.25rem;
  }



/* ================================
   6. Bildergalerie
================================ */

/* Galerie-Container */
.gallerie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 2;
}

.gallerie figure {
  margin: 0;
  width: 100%;
}

/* Bild zentrieren */
.gallerie figure img {
  display: block;
  margin: 0 auto;
}

.gallerie figcaption {
  text-align: center;
  margin-top: 0.5rem;
}

/* Buttons unter der Galerie */
.gallerie-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0.5rem;
}

/* Navigationspfeile */
.button-links,
.button-rechts {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-base-light);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 6px var(--color-box-shadow), 0 1px 10px var(--color-box-shadow-smaler);
}

.button-links:hover,
.button-rechts:hover {
  background-color: var(--color-accent-active);
}



/* ================================
   7. Media Queries
================================ */

/* Umrechnung 940 Pixel / 16px = 58.75rem*/
@media screen and (min-width: 58.75rem) {

  body {
    font-size: 1.125rem;
  }

  .site-header .titel h1 {
    font-size: 2rem;
    width: 25rem
  }

  .inside {
    padding: 0 0 0 1.5rem;
  }

  .site-header {
    flex-direction: row;
  }

  .titel {
    width: 25rem;
  }

  .gallerie {
    order: 1;
    flex: 1;
  }

  .text-content {
    padding-left: 1rem;
    order: 2;
    flex: 3;
  }

  .button-links,
  .button-rechts {
    margin: 0 0.5rem;
  }

  .button-links:hover,
  .button-rechts:hover {
    background-color: var(--color-accent-active);
  }

  .js .menubutton {
    display: none;
  }

  .site-nav {
    position: sticky;
    top: 0;
    box-shadow: 0 2px 6px var(--color-box-shadow);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 0;
  }

  .site-footer ul,
  .site-nav ul,
  .site-footer-start ul {
    max-height: none !important;
    flex-direction: row;
  }

  .site-footer li,
  .site-nav li,
  .site-footer-start li {
    display: flex;
    flex: 1;
    margin-top: 1rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
    z-index: auto;
    margin-right: 0;
    align-items: center;
  }

  .nav-language li {
    margin-left: auto;
    flex: 0 0 auto;
    padding-right: 0rem;
  }

  .nav-kontakt {
    max-width: fit-content;
  }

  .darkModeIcon {
    width: 3rem;
    min-width: fit-content;
  }

  .article {
    flex-direction: row;
  }

  .site-kontakt-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
  }

  .site-kontakt-adresse {
    margin-left: 2rem;
  }

  .kontakt {
    flex-direction: row;
  }

  .kontakt img {
    vertical-align: middle;
    margin-right: 2rem;
    margin-top: 1.5rem;
  }

  .kontakt span {
    padding-top: 1rem;
  }

}

/* Umrechnung 1024 Pixel / 16px = 64rem*/
@media screen and (min-width: 64rem) {

  body {
    font-size: 1.25rem;
  }

  .gallerie figure img {
    width: 100%;
  }

  .text-content {
    padding-left: 2rem;
  }

  .nav-kontakt {
    max-width: inherit;
  }

  .site-nav .nav-language {
    margin-left: auto;
    flex: 0 0 auto;
    padding-right: 0rem;
  }
}



/* ================================
   8. Media Print
================================ */

@media print {

  * {
    box-shadow: none !important;
    text-shadow: none !important;
  }

  html {
    background: var(--color-base-light);
    color: var(--color-base-dark);
  }

  .site-nav,
  .site-footer {
    display: none;
  }
}


/* ================================
   9. Media Dark
================================ */

.toggle-button {
  background: none;
  display: inline-block;
  padding: 0.625rem 1rem;
  margin-left: 0rem;
  border: none;
  cursor: pointer;
  max-width: fit-content;
}

.dark-mode.site-body {
  background-color: var(--color-background-dark);
  color: var(--color-background-light);
  text-shadow: none;
}

.dark-mode .site-kontakt-adresse a,
.dark-mode .adresse a {
  color: var(--color-accent-active);
}

.dark-mode .site-kontakt-adresse a:hover,
.dark-mode .site-kontakt-adresse a:focus,
.dark-mode .adresse a:hover,
.dark-mode .adresse a:focus {
  color: var(--color-primary);
}

.dark-mode {

  .site-header,
  .site-nav,
  .site-footer,
  .titel {
    background-color: var(--color-background-dark-nav_header_footer);
    color: var(--color-background-light);
    text-shadow: none;
  }

  .site-nav select {
    background-color: var(--color-background-dark);
    box-shadow: 0 2px 6px var(--color-box-shadow-dark), 0 1px 10px var(--color-box-shadow-dark-smaler);
    border: 0.2rem solid var(--color-background-light);
  }

  .button-links,
  .button-rechts {
    background-color: var(--color-background-dark-nav_header_footer);
    color: var(--color-base-light);
    box-shadow: 0 2px 6px var(--color-box-shadow-dark), 0 1px 10px var(--color-box-shadow-dark-smaler);
    text-shadow: none;
    border: 0.2rem solid var(--color-background-light);
  }

  .button-links:hover,
  .button-rechts:hover {
    background-color: var(--color-accent-active-dark);
  }

  .titel:focus,
  .titel:hover {
    color: var(--color-accent-active);
  }

  .scroll-top-button {
    background-color: var(--color-background-dark-nav_header_footer);
    border: 0.2rem solid var(--color-background-light);
    box-shadow: 0 2px 6px var(--color-box-shadow-dark), 0 1px 10px var(--color-box-shadow-dark-smaler);
  }

  .scroll-top-button:hover {
    background-color: var(--color-accent-active-dark);
  }

  .kontakt-telefon {
    background: url("../pictures/Telefon-weiß.svg") left;
  }
  
  .kontakt-mail {
    background: url("../pictures/Mail-weiß.svg") left;
  }
  
  .kontakt-haus {
    background: url("../pictures/Haus-weiß.svg") left;
  }
  
  .kontakt-telefon, 
  .kontakt-mail,
  .kontakt-haus {
    margin: 2rem 0 0 0 ;
    padding: 0 1.25rem 0 3.75rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 3.125rem;
    line-height: 3.125rem;
    width: 31.25rem;
    }
}

@media (prefers-color-scheme: dark) {
  .toggle-button {
    background: none;
    display: inline-block;
    padding: 0.625rem 1rem;
    margin-left: 0rem;
    border: none;
    cursor: pointer;
  }

  body {
    background-color: var(--color-background-dark);
    color: var(--color-background-light);
    text-shadow: none;
  }

  .dark-mode .site-kontakt-adresse a,
  .dark-mode .adresse a {
    color: var(--color-accent-active);
    /* Kontrastfarbe für Links */
  }

  .dark-mode .site-kontakt-adresse a:hover,
  .dark-mode .site-kontakt-adresse a:focus,
  .dark-mode .adresse a:hover,
  .dark-mode .adresse a:focus
  .dark-mode .titel a:hover,
  .dark-mode .titel a:focus {
    color: var(--color-primary);
  }

  .site-nav,
  .site-header,
  .site-footer,
  .titel {
    background-color: var(--color-background-dark-nav_header_footer);
    color: var(--color-background-light);
    text-shadow: none;
  }

  .site-nav select {
    background-color: var(--color-background-dark);
    box-shadow: 0 2px 6px var(--color-box-shadow-dark), 0 1px 10px var(--color-box-shadow-dark-smaler);
    border: 0.2rem solid var(--color-background-light);
  }

  .button-links,
  .button-rechts {
    background-color: var(--color-background-dark-nav_header_footer);
    color: var(--color-base-light);
    box-shadow: 0 2px 6px var(--color-box-shadow-dark), 0 1px 10px var(--color-box-shadow-dark-smaler);
    text-shadow: none;
    border: 0.2rem solid var(--color-background-light);
  }

  .button-links:hover,
  .button-rechts:hover {
    background-color: var(--color-accent-active-dark);
  }

  .scroll-top-button {
    background-color: var(--color-background-dark-nav_header_footer);
    border: 0.2rem solid var(--color-background-light);
    box-shadow: 0 2px 6px var(--color-box-shadow-dark), 0 1px 10px var(--color-box-shadow-dark-smaler);
  }

  .scroll-top-button:hover {
    background-color: var(--color-accent-active-dark);
  }

  
  .kontakt-telefon {
    background: url("../pictures/Telefon-weiß.svg") left;
  }
  
  .kontakt-mail {
    background: url("../pictures/Mail-weiß.svg") left;
  }
  
  .kontakt-haus {
    background: url("../pictures/Haus-weiß.svg") left;
  }
  
  .kontakt-telefon, 
  .kontakt-mail,
  .kontakt-haus {
    margin: 2rem 0 0 0 ;
    padding: 0 1.25rem 0 3.75rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 3.125rem;
    line-height: 3.125rem;
    width: 31.25rem;
    }
}