/* ================================
   Stylesheet für die Website

   Struktur:
   1. Allgemeine Einstellungen
   2. Layout & Struktur
   3. Navigation
   4. Startseite
   5. Kontaktseite
   6. Bildergalerie
   7. Media Queries
   8. Media Print
   9. Media Dark
================================ */

/* ================================
   1. Allgemeine Einstellungen
================================ */

html {
  /* Farbvariablen*/
  --color-base-dark: black;
  --color-base-light: white;
  --color-background-light: floralwhite;
  --color-primary: teal;
  --color-accent-active: sandybrown;
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-box-shadow: rgba(51, 51, 51, 0.3);
  --color-box-shadow-smaler: rgb(51, 51, 51, 0.29);
  --color-border: dimgrey;
  --color-box-shadow-dark: rgb(151, 151, 151, 0.3);
  --color-box-shadow-dark-smaler: rgb(151, 151, 151, 0.29);
  --color-background-dark: #262626;
  --color-background-dark-nav_header_footer: #222;

  scroll-behavior: smooth;
  background-color: transparent;
  height: 100vh;
}

.titel>a {
  display: flex;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  text-shadow: 2px 4px 4px var(--color-shadow);
  background-color: var(--color-base-light);
  color: var(--color-base-dark);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

.icon {
  width: 1.5rem;
  max-width: none;
}

/* ================================
   2. Layout & Struktur
================================ */
.inside {
  padding: 0 1rem;
  margin: 0 auto;
}

main {
  padding: 1rem;
  flex: 1
}

h1 {
  padding-top: 1.5rem;
  margin-bottom: 0;
}

h2 {
  padding-top: 2.5rem;
  text-align: center;
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-primary);
  color: var(--color-base-light);
  padding: 2rem 3.5rem;
}

.titel {
  font-size: clamp(1rem, 2.8vw, 2.5rem);
}

.logo {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
  width: 2.5rem;
}

/* Collapsing margins vermeiden */
h1,
h2,
p,
ul,
ol {
  margin-top: 0;
}

/* ================================
   3. Navigation
================================ */
.site-nav,
.site-footer {
  background-color: var(--color-primary);
  color: var(--color-base-light);
  padding: 1rem;
  box-shadow: 0 2px 6px var(--color-box-shadow);
}

.site-nav {
  text-align: start;
}

.site-footer {
  text-align: center;
}

/* Navigationsliste als Flex-Container */
.site-footer ul,
.site-nav ul {
  display: flex;
  flex-flow: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Navigationslinks gestalten */
.site-nav a,
.site-footer a {
  display: block;
  color: var(--color-base-light);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

/* Hover und Focus gestalten */
.site-nav a:hover,
.site-nav a:focus,
.site-footer a:hover,
.site-footer a:focus {
  color: var(--color-accent-active);
}

/* Aktuellen Menüpunkt hervorheben */
.site-nav .current,
.site-footer .current {
  font-weight: bold;
  font-size: x-large;
}

/* Kein JavaScript? Menübutton ausblenden */
.no-js .menubutton {
  display: none;
}

/* Menübutton gestalten */
.js .menubutton {
  display: flex;
  align-items: center;

  cursor: pointer;
  background: inherit;
  color: var(--color-base-light);
  font: inherit;
  text-align: center;
  padding: 0.5rem 1rem;
  border: 0;
  margin: 0;
}

.js .menubutton::before {

  content: url("../pictures/menuburger.svg");
  width: 2rem;
  height: 2rem;
  margin: 0.25rem;
}

/* Menübutton per CSS ausblenden */

.js .site-nav ul {
  max-height: 0;
  overflow: hidden;
}

/* Navigationsliste mit leichter Animation einblenden  */
.js .showmenu+ul {
  max-height: 100rem;
  transition: max-height 0.5s ease-in-out;
  overflow: auto;
}

/* Tausche Hamburger gegen X */
.js .menubutton.showmenu::before {
  content: url("../pictures/menuclose.svg");
}

.scroll-top-button {
  display: none; /* Initially hidden */
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px; /* Square size */
  height: 50px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 6px var(--color-box-shadow), 0 1px 10px var(--color-box-shadow-smaler);
  z-index: 1000;
}

.scroll-top-button:hover {
  background-color: var(--color-accent-active);
}

/* ================================
   4. Startseite
================================ */

.startbild {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.article {
  display: flex;
  flex-direction: column;
}

.text-content {
  order: 1;
}

/* ================================
   5. Kontaktseite
================================ */
.site-kontakt label {
  display: block;
}

.site-kontakt form div {
  margin-bottom: 1rem;
}

.site-kontakt input[type="text"],
.site-kontakt input[type="email"],
.site-kontakt input[type="betreff"],
.site-kontakt textarea {
  font-size: inherit;
  font-family: inherit;
  width: 16rem;
  padding: 0.5rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-base-light);
  border-radius: 0.25rem;
}

/* Nachricht - Breite begrenzen */
.site-kontakt textarea {
  max-width: 25rem;
  min-height: 8rem;
}

.site-kontakt button {
  font-size: inherit;
  font-family: inherit;
  background-color: var(--color-primary);
  color: var(--color-base-light);
  width: 17rem;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.site-kontakt button:hover,
.site-kontakt button:focus {
  background-color: var(--color-accent-active);
}

.kontakt {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.kontakt img {
  margin-right: 1rem;
  margin-top: 1.5rem;
}

.kontakt::before {
  margin-top: 2rem;
}



/* ================================
   6. Bildergalerie
================================ */
.gallerie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 2;
}

.gallerie figure {
  margin: 0;
  width: 100%;
}

.gallerie figure img {
  display: block;
  margin: 0 auto;
}

.gallerie figcaption {
  text-align: center;
  margin-top: 0.5rem;
}

.gallerie-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0.5rem;
}

.button-links,
.button-rechts {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-base-light);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 6px var(--color-box-shadow), 0 1px 10px var(--color-box-shadow-smaler);
}

.button-links:hover,
.button-rechts:hover {
  background-color: var(--color-accent-active);
}


/* ================================
   7. Media Queries
================================ */
/* Umrechnung 940 Pixel / 16px = 58.75remm*/
@media screen and (min-width: 58.75rem) {

  body {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 2.5rem;
    padding: 1rem;
  }

  .site-header {
    flex-direction: row;
  }

  .logo {
    padding-bottom: 1rem;
    width: 4rem;
  }

  .gallerie {
    order: 1;
    flex: 1;
  }

  .text-content {
    padding-left: 1rem;
    order: 2;
    flex: 3;
  }

  .button-links,
  .button-rechts {
    margin: 0 0.5rem;
  }

  .button-links:hover,
  .button-rechts:hover {
    background-color: var(--color-accent-active);
  }

  .menubutton {
    display: none !important;
  }

  .site-nav {
    position: sticky;
    top: 0;
    box-shadow: 0 2px 6px var(--color-box-shadow);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }

  .site-footer ul,
  .site-nav ul,
  .site-footer-start ul {
    max-height: none !important;
    flex-direction: row;
  }

  .site-footer li,
  .site-nav li,
  .site-footer-start li {
    flex: 1;
    margin: 2rem;
  }

  .article {
    flex-direction: row;
  }

  .site-kontakt-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
  }

  .kontakt {
    flex-direction: row;
  }

  .kontakt img {
    vertical-align: middle;
    margin-right: 2rem;
    margin-top: 1.5rem;
  }

  .kontakt span {
    padding-top: 1rem;
  }
}

/* Umrechnung 1024 Pixel / 16px = 64remm*/
@media screen and (min-width: 64rem) {

  body {
    font-size: 1.25rem;
  }

  .gallerie figure img {
    width: 100%;
  }

  .text-content {
    padding-left: 2rem;
  }

}

/* ================================
   8. Media Print
================================ */
@media print {

  * {
    box-shadow: none !important;
    text-shadow: none !important;
  }

  html {
    background: var(--color-base-light);
    color: var(--color-base-dark);
  }

  .site-nav,
  .site-footer {
    display: none;
  }
}


/* ================================
   9. Media Dark
================================ */

.toggle-button {
  background: none;
  display: inline-block;
  padding: 0.625rem 1rem;
  margin-left: 0rem;
  border: none;
  cursor: pointer;
}
.dark-mode.site-body {
  background-color: var(--color-background-dark);
  color: var(--color-background-light);
  text-shadow: none;
}
.dark-mode .site-kontakt-adresse a,
.dark-mode .adresse a {
  color: var(--color-accent-active); /* Use a contrasting color for links in dark mode */
}
.dark-mode .site-kontakt-adresse a:hover,
.dark-mode .site-kontakt-adresse a:focus,
.dark-mode .adresse a:hover,
.dark-mode .adresse a:focus {
  color: var(--color-primary); /* Optionally, change the hover/focus color for better visibility */
}
.dark-mode {
  .site-header,
  .site-nav,
  .site-footer {
      background-color:var(--color-background-dark-nav_header_footer);
      color: var(--color-background-light);
      text-shadow: none;
}
  .button-links,
  .button-rechts {
    background-color: var(--color-primary);
    color: var(--color-base-light);
    box-shadow: 0 2px 6px var(--color-box-shadow-dark), 0 1px 10px var(--color-box-shadow-dark-smaler);
    text-shadow: none;
  }
}

@media (prefers-color-scheme: dark) {
  .toggle-button {
    background: none;
    display: inline-block;
    padding: 0.625rem 1rem;
    margin-left: 0rem;
    border: none;
    cursor: pointer;
  }
  body {
    background-color: var(--color-background-dark);
    color: var(--color-background-light);
    text-shadow: none;
  }
  .dark-mode .site-kontakt-adresse a,
  .dark-mode .adresse a {
    color: var(--color-accent-active); /* Use a contrasting color for links in dark mode */
  }
  .dark-mode .site-kontakt-adresse a:hover,
  .dark-mode .site-kontakt-adresse a:focus,
  .dark-mode .adresse a:hover,
  .dark-mode .adresse a:focus {
    color: var(--color-primary); /* Optionally, change the hover/focus color for better visibility */
  }
  .site-nav,
  .site-header,
  .site-footer {
    background-color:var(--color-background-dark-nav_header_footer);
    color: var(--color-background-light);
    text-shadow: none;
  }

  .button-links,
  .button-rechts {
    background-color: var(--color-primary);
    color: var(--color-base-light);
    box-shadow: 0 2px 6px var(--color-box-shadow-dark), 0 1px 10px var(--color-box-shadow-dark-smaler);
    text-shadow: none;
  }


}