/* ================================
    Stylesheet für die Website

    Abschnitte im Stylesheet:
    1. Basiseinstellungen
    2. Navigation
    3. Kontaktseite
*/

/**
  * 1. Basiseinstellungen
  */
  @media screen and (min-width: 40em) {
    .titel {
      width:50%;
    }
  }
  @media screen and (min-width: 75em) {
    .titel {
      width:33.333%;
    }
  }
  .titel > a {
    display: flex;

    align-items: center;
  }
  html {
    scroll-behavior: smooth;
    background-color: transparent; 
    height: 100%;
  }
body {
    display: flex;

    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    font-style: normal;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    text-align: left;
    hyphens: auto;

    background-color:floralwhite;
    color: black;

    max-width: none;
    height: 100%;
    flex-direction: column;
    padding: 0;
    margin:0;

    /* Bereiche anzeigen */
    /* * { outline: 1px solid red; } */
}
  /* Layoutbereiche in der Breite begrenzen und zentrieren */
  .inside {
    max-width: 650px; 
    padding: 0 1rem; 
    margin: 0 auto; 
  }
main {
    flex: 1;
    padding: 1rem;
}
.site-body-start {
    padding-bottom: 0;
}
img {
    max-width: 100%;
    height: auto;
}
h1 {
    padding: 1rem;
}
.site-header {
    display:flex;
    flex-wrap: wrap;

    text-align: center;

    background-color:teal;
    color: white;

    padding: 1rem;
}
.site-header > * {
    flex-grow: 1;
    flex-shrink: 1;
}
.site-nav,
.site-footer,
.site-footer-start {
    background-color:teal;
    color: white;
    padding: 1rem;
    text-align: center;
}
  /* Layoutbereiche - horizontale Innenabstände entfernen */
  .site-header, 
  .site-nav, 
  .site-content, 
  .site-footer { 
    padding-left: 0; 
    padding-right: 0; 
  }
.site-nav {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 15vh;
}
.site-header h1 {
    margin-bottom: 0;
}
.rasenpflege img {
    width: 100%;
    height: auto;
}
.startbild {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
/* Collapsing margins vermeiden */
h1, h2, h3, h4, h5, h6, 
p, ul, ol {
    margin-top: 0; 
}

/**
  * 2. Navigation
  */
.site-footer ul,
.site-nav ul,
.site-footer-start ul {
    display: flex;

    list-style: none;

    padding: 0;
    margin: 0;
    align-items: center;
}
.site-footer li,
.site-nav li,
.site-footer-start li {
    flex: 1;
    margin: 2rem;
}
.site-nav a,
.site-footer a,
.site-footer-start a {
    display: flex;

    text-align: center;
    color: white;
    text-decoration: none;
}
.site-nav .current,
.site-footer .current,
.site-footer-start current {
    font-weight: bold;
    font-size:x-large;
}
.site-nav a:hover, 
.site-nav a:focus,
.site-footer a:hover, 
.site-footer a:focus,
.site-footer-start a:hover,
.site-footer-start a:focus { 
    color:sandybrown;
}

/**
  * 3. Kontaktseite
  */
  .site-kontakt {
    margin: 1rem;
  }
.site-kontakt label {
    display: block;
}
.site-kontakt form div {
    margin-bottom: 1rem;
}
/* Eingabefelder gestalten */ 
.site-kontakt input[type="text"], 
.site-kontakt input[type="email"],
.site-kontakt input[type="betreff"],  
.site-kontakt textarea {
    font-size: inherit;
    font-family: inherit;

    width: 16rem;
    padding: 0.5rem;
    
    border: 1px solid dimgrey;
    border-radius: 0.25rem;
}
.site-kontakt input[type="text"]:focus, 
.site-kontakt input[type="email"]:focus,
.site-kontakt input[type="betreff"]:focus, 
.site-kontakt textarea:focus {
    background-color: white;
}
/* Textarea - Breite begrenzen */ 
.site-kontakt textarea {
    max-width: 25rem; 
    min-height: 8rem;
}
.site-kontakt button {
    font-size: inherit; 
    font-family: inherit; 
    text-align: center;

    background-color:teal;
    color: white; 

    width: 17rem;
    padding: 1rem;
    border: none;
    border-radius: 0.25rem;

    cursor: pointer;
}
 .site-kontakt button:hover,
 .site-kontakt button:focus {
    background-color: sandybrown;
}