<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Konfiguration für statische Inhalte -->
        <staticContent>
            <!-- MIME-Typ-Zuordnung für WebP-Bilddateien -->
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
    </system.webServer>
</configuration>
